@font-face {
  font-family: 'Poppins-Thin';
  src: url('/assets/fonts/Poppins-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  color: #ddd;
}

.contact-title {
  font-family: 'Poppins-Thin' ;
  color: #ffffff9a;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
  display: inline-block;
  padding-bottom: 0.5rem;
  /* border-bottom: 2px solid #ccc; */
  animation: breath-border 4s cubic-bezier(0.25, 0.1, 0.25, 1) infinite ;
}

/* Animação da linha */
@keyframes breath-border {
  0%, 100% {
    /* border-bottom-color: #ccc; */
    color: #ccc;
  }
  50% {
    color: #ff000071;
    /* border-bottom-color: #ff000071;  */
  }
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 1080px;
  max-width: 600px;
}

.contact-form input,
.contact-form textarea {
  font-family: 'Poppins-Thin', sans-serif;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border: 1px solid #444;
  border-radius: 10px;
  background-color: #1e1e1e;
  color: #ddd;
  resize: none;
}

.contact-form button {
  font-family: 'Poppins-Thin', sans-serif;

  background-color: transparent;
  border: 1px solid #ddd;
  color: #ddd;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 8px;
  
}


.contact-form button:hover {
  background-color: #ffffff0a;
  color: #ff0000;
  font-size: 20px;
}

/* Responsivo */
@media (max-width: 768px) {
  .contact-title {
    font-size: 1.8rem;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 800px;
    max-width: 100%;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.95rem;
  }
}


contact-form {
  font-family: 'Poppins-Thin', sans-serif;

}
