@font-face {
  font-family: 'Poppins-Thin';
  src: url('/assets/fonts/Poppins-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pixeboy';
  src: url('/src/assets/fonts/Pixelzone.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BabelSans';
  src: url('/src/assets/fonts/BabelSans');
  font-weight: normal;
  font-style: normal;
}

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  color: #ddd;
}

.contact-title {
  font-family: 'BabelSans' ;
  color: #ffffff9a;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
  display: inline-block;
  padding-bottom: 0.5rem;
  /* border-bottom: 2px solid #ccc; */
  animation: breath-border 4s cubic-bezier(0.25, 0.1, 0.25, 1) infinite ;
}

/* Animação da linha */
@keyframes breath-border {
  0%, 100% {
    /* border-bottom-color: #ccc; */
    color: #ccc;
  }
  50% {
    color: #fc8888dc;
    /* border-bottom-color: #ff000071;  */
  }
 
}
.contact-form {
  font-family: 'BabelSans' ;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 500px;
  height: 500px;
  max-width: 90%;
}


.contact-form input,
.contact-form textarea {
  font-family: 'BabelSans', sans-serif;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border: 1px solid #444;
  border-radius: 10px;
  background-color: #1e1e1e;
  color: #ddd;
  resize: none;
}

.contact-form button {
  font-family: 'BabelSans';
  background-color: transparent;
  border: 1px solid #ddd;
  color: #ddd;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 10px;
  margin: 50px;

  transition: background 0.5s ease, font-size 0.3s ease, -webkit-text-fill-color 0.5s ease;
}

.contact-form button:hover {
  background: linear-gradient(330deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  -webkit-background-clip: text;
  background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.phone-contact {
  font-size: 30px;
  letter-spacing: 5px;
  padding: 30px;
  opacity: 0.8;
  font-weight: 500;
}
/* Responsivo */
@media (max-width: 768px) {
  .contact-title {
    font-size: 3rem;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 800px;
    max-width: 100%;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1.5rem;
  }
  .phone-contact{
    font-size: 10px;
    margin: 14px;
  }
}


contact-form {
  font-family: 'Poppins-Thin', sans-serif;

}
