
  
  .video {
    max-width: 85%;
    margin-left: 100px;
  }
  
.sminorff-container {
  align-items: center;
   margin: auto;
}

  
  @media (max-width: 768px) {
    .sminorff-container {
      flex-direction: column;
    }
    .video {
      margin: auto;
      align-items: center;

        }
  }

